/* VARIABLES */
:root{
	--nav-bg-lime:#81D12B;
	--primary-white:#f7f7f7;
	--heading-violet:#774977;
	--heading-light-lime:#69ad32;
	--dark-color:#2f2633;
	--dark-charcol:#3D4349;
	--electric-blue:#516478;
	--yellow-green:#82C131;
	--dull-blue-green:#009879;
}
.tableone{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tableone h2{
    font-size:25px;
    margin:0 0 20px 0;
    color: var(--dark-charcol);
}
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
th{
    font-size: 18px;
}
td{
    font-size: 15px;
}
.vl{
    border-left: 1px solid var(--dull-blue-green);
    height: 500px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr:hover{
    border-bottom: 2px solid var(--dull-blue-green);
    font-weight: 600;
    color: #009879;
    cursor: pointer;
}
tbody:last-child{
    border-bottom: 2px solid var(--dull-blue-green);
}

.formtwo2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0 20px;
    width: 50%;
    height: 100%;
    padding: 20px;
}
.subform1{
    border: 1px solid var(--dull-blue-green);
    width:100%;
    height:100%;
    padding:10px 20px;
    margin: 50px 0 0 0;
}
.subform2{
    border: 1px solid var(--dull-blue-green);
    width:100%;
    height:100%;
    padding:40px 20px;
    margin:50px 0 0 0;
    text-align: center;
}
#scheduleanother{
    font-size: 18px;
    padding: 10px 10rem;
    color: var(--dark-color);
    background-color: var(--primary-white);
    cursor: pointer;
    font-weight: 600;
    border: 1px solid var(--dark-color);
    transition: background-color 0.3s linear;
}
#scheduleanother:hover{
    color: var(--primary-white);
    background-color: var(--dull-blue-green);
    border: 1px solid var(--primary-white);
    
}
.tabs{
    background-color: var(--dull-blue-green);
}
.tabs li{
    color: #f7f7f7;
}