*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*::selection{
    background-color: transparent;
}

/* VARIABLES */
:root{
	--nav-bg-lime:#81D12B;
	--primary-white:#f7f7f7;
	--heading-violet:#774977;
	--heading-light-lime:#69ad32;
	--dark-color:#2f2633;
	--dark-charcol:#3D4349;
	--electric-blue:#516478;
	--yellow-green:#82C131;
	--dull-blue-green:#009879;
}

/* NAVBAR/HEADER */
.header{
    padding: 1.5rem 3rem 1.5rem 1rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--yellow-green); */
    background-color: var(--heading-light-lime);
}
.logo{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    margin-right: 10px;
}
.header h2{
    letter-spacing: 3px;
    color: var(--primary-white);
    margin-right: auto;
}
.navbar{
    height: 1.3rem;
}
.navbar-lst{
    display: flex;
    gap: 3rem;
    list-style: none;
}
.navbar-link:link, .navbar-link:visited{
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-white);
    transition: all 0.3s;
}
.navbar-link:hover, .navbar-link:active{
    color: var(--dark-color);
}

/* CLIENT'S PORTAL FORM */

.formcont{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0 0;
}
.formone{
    border: 2px solid var(--electric-blue);
    width: 50%;
    height: 100%;
    margin: 0 10px 10px 10px;
    padding: 20px;
}
.formtwo1{
    border:1px solid var(--electric-blue);
    width: 50%;
    height: 100%;
    padding: 20px;
}
.formheading{
    background-color:var(--dark-color);
    color: var(--primary-white);
    text-align: center;
    padding: 10px;
}
#submitclient{
    font-size: 15px;
    padding: 10px 30px;
    color: var(--dark-color);
    background-color: var(--primary-white);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid var(--dark-color);
    transition: background-color 0.3s linear;
}
#submitclient:hover{
    color: var(--primary-white);
    background-color: var(--dark-color);
    border: 1px solid var(--primary-white);
    
}
#resetclient{
    font-size: 15px;
    padding: 10px 40px;
    color: var(--dark-color);
    background-color: var(--primary-white);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid var(--dark-color);
    transition: background-color 0.3s linear;
    margin: 0 0 0 20px;
}
#resetclient:hover{
    color: var(--primary-white);
    background-color: var(--dark-color);
    border: 1px solid var(--primary-white);
    
}
#fname,#fcaddr,#fpickupdatetime,#fwamt,#wsnap,#zpcode{
    padding: 3px;   
    outline: none;
}
#fcaddr{
    margin:0 0 0 18px;
}
#zpcode{
    margin: 0 0 0 9px;
}
#fpickupdatetime{
    margin:0 0 0 10px;
}
#fwamt{
    margin:0 0 0 10px;
}
#wsnap{
    margin:0 0 0 10px;
}

/* PIckup Details */

/* [data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
.tabs{
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tab{
    cursor: pointer;
    padding: 10px;
    color: var(--dark-color);
    font-weight: 500;
}
.tab.active{
    color: var(--primary-white);
    font-weight: 500;
    background-color: var(--dark-color);
}
.tab-content{
    margin-left:20px;
    margin-right:20px;
} */
[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
    padding-bottom: 80px;
}
.formtwo{
    /* background-color: var(--primary-white); */
    padding: 20px;
}
.formtwo h1{
    margin: 0;
    font-size: larger;
    padding-bottom: 10px;
}
.tabs{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tab{
    cursor: pointer;
    padding: 10px;
    margin: 0;
}
.tab.active{
    background-color: var(--dark-color);
  color: white;
    font-weight: 700;
}
.tab-switching{
    padding: 20px;
    background-color: var(--primary-white);
}
